# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.run
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db
*.sql

google205542c04daca98b.html

public/api/.idea/*

public/api/libs/toPdf/themes/icons
public/api/libs/toPdf/assets/schema_functions.json

public/api/libs/toLabeler/icons
public/api/libs/toLabeler/tmp

public/api/tiquettes.db

public/api/libs/constants.php
public/api/libs/constants.production.php
public/api/libs/constants.development.php

public/api/templates

public/tiquettes_stickers.svg
public/tiquettes_stickers.pdf

src/css/twofaInput.css
src/TwofaInput.jsx
dist/api/libs/batik-1.19/CHANGES
dist/api/libs/batik-1.19/lib/README.xml-apis-ext-1.3.04.txt
dist/api/libs/batik-1.19/extensions/README.txt
public/api/libs/ZipStream-PHP-3.2.2/.phive
public/api/libs/ZipStream-PHP-3.2.2/.phpdoc
public/api/libs/ZipStream-PHP-3.2.2/guides
public/api/libs/ZipStream-PHP-3.2.2/test
public/api/libs/fpdf19/doc
public/api/libs/fpdf19/tutorial