.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
}

.toolbar input[type='number'] {
    width: 3em;
    text-align: right;
}

h3 {
    margin-top: 0;
}

.project {
    margin-bottom: 2em;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: darkcyan;
}

.project li {
    margin-left: 0;
    padding-left: 0;
}

.project li::before {
    content: '˫';
    margin-right: 1em;
}

.projectbox {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid darkgray;
}

.projectbox .newproject {
    margin-bottom: 2em;
}

.switchboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2em;
    margin-block: 2em;
    overflow-x: scroll;
    padding-bottom: 2em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 2em;
}

.switchboard_row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5em;
    width: max-content;
    margin-bottom: 2em;
}

@media print {
    h4, h3, .toolbar, .project {
        display: none;
    }

    .switchboard {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0mm;
        margin-block: 0;
        overflow-x: initial;
        padding-bottom: 0;
        border: 0;
        border-radius: initial;
        padding: 0;
    }

    .switchboard_row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2mm;
        width: 100%;
        page-break-inside: avoid;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .switchboard_row:not(:first-of-type) {
        padding-top: 10mm;
    }

    .projectbox {
        display: none;
    }
}