.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
    margin-left: 28px;
}

.toolbar input[type='number'] {
    width: 3em;
    text-align: right;
}

h3 {
    margin-top: 0;
    scroll-margin-top: 1em;
    display: flex;
    width: 100%;
    height: 28px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.5em;
    margin-bottom: 0.5em;
}

h3 sup {
    font-size: small;
    margin-top: -1em;
    font-weight: normal;
}

h4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.5em;
}

.project {
    margin-bottom: 2em;
    list-style: none;
    padding-left: 0;
    color: var(--primary-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1em;
    row-gap: 0.15em;
}

.project li {
    margin-left: 0;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.25em;
}

.project li.nobefore {
    margin-block: 1em;
    color: black;
}

.project li span {
    margin-right: 1em;
    font-size: small;
}

.projectbox {
    padding-bottom: 3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    column-gap: 5em;
}

.projectbox .newproject {
    margin-bottom: 2em;
}

.switchboard, .summary, .schema {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    /*border: 1px solid darkgray;
    border-top: 2px solid var(--primary-color);
    border-radius: 7px;
    padding: 2em;*/
    position: relative;
    background-color: white;

    height: 0px;
    padding: 0;
    border: 0;
}

.switchboard.selected, .summary.selected, .schema.selected {
    height: max-content;
    /*padding: 2em;*/
    border: 1px solid darkgray;
    border-radius: 7px;
}

.summary table {
    margin-inline: 2em;
    margin-bottom: 2em;
}

.switchboard_row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.75em;
    width: max-content;
    margin-bottom: 0;
    margin-inline: 2em;
    margin-top: 2em;
}

.switchboard_row:last-of-type {
    margin-bottom: 2em;
}

option[disabled] {
    background-color: #eee;
    color: #aaa;
}

.button_group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 0;
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 7px;
    background-color: #f0f0f0;
    margin-bottom: 3em;
}

.button_group > *:not(.button_group-separator) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
    border: 0;
    border-radius: 0;
    padding-inline: 1em;
    padding-block: 0.75em;
}

.button_group > *:not(.button_group-separator) span {
    line-height: 18px;
}

.button_group > *:not(.button_group-separator) img {
    height: 16px;
    width: 16px;
}

.button_group > *:not(.button_group-separator):first-of-type {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.button_group .button_group-separator {
    width: 1px;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.button_group .button_group-new_project span {
    font-weight: 600;
}

.button_group label {
    background-color: #f0f0f0;
    font-weight: 500;
    cursor: pointer;
    font-size: smaller;
}

.button_group label:hover {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

.button_group .dropdown_container {
    position: relative;
}

.button_group .dropdown_container .dropdown {
    position: absolute;
    display: none;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 170px;
    padding: 0.75em;
    border: 1px solid darkgray;
    border-radius: 7px;
    background: linear-gradient(to bottom, white, #f0f0f0);
    text-align: left;
    flex-direction: column;
    row-gap: 0.5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.button_group .dropdown_container:hover .dropdown {
    display: flex;
}

.button_group .dropdown_container .dropdown .dropdown_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.25em;
    font-size: larger;
}

.button_group .dropdown_container .dropdown .dropdown_item label {
    width: 100%;
    background-color: initial;
}

.button_group .dropdown_container .dropdown .dropdown_item label:hover {
    background-color: initial;
}

.button_group .dropdown_container .dropdown .dropdown_item input:disabled + label {
    color: darkgray;
}

.button_group .dropdown_container .dropdown .dropdown_separator {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-block: 0.5em;
}

.button_group .dropdown_container .dropdown .dropdown_header {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.button_group .dropdown_container .dropdown .dropdown_footer {
    margin-top: 2em;
}

.button_group .dropdown_container .dropdown .dropdown_footer * {
    width: 100%;
    font-weight: bold;
    background-color: white;
}

.button_group.disabled {
    pointer-events: none;
}

.button_group.disabled * {
    color: darkgray;
}

.summary table {
    font-size: smaller;
    border-collapse: collapse;
}

.summary table caption {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 1em;
}

.summary table thead tr th {
    font-size: 110%;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 1em;
    color: var(--primary-color);
}

.summary table tbody tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}

.summary table tbody tr:hover td:not(:first-child) {
    background-color: var(--secondary-color);
}

.summary table tbody tr.newrow {
    border-top: 1px dotted lightgray;
}

.summary table tbody tr.otherrow td:not(:first-child) {
    border-top: 1px dotted lightgray;
}

.summary table tbody tr td {
    padding-block: 2mm;
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    min-height: 7mm;
}

.summary table tbody tr td div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.35em;
}

.summary table tbody tr td div img {
    margin-top: -3px;
}

.summary table tbody tr td.summary_id {
    font-weight: bold;
}

.summary table tbody tr td.summary_func p {
    font-size: 80%;
    margin: 0;
}

.summary table tbody tr td.summary_func p::first-line {
    font-weight: 500;
    font-size: 122%;
}

.summary table tbody tr td.summary_type div {
    justify-content: center;
}

.summary table tbody tr td.summary_type div img {
    margin-top: -0px;
}

.summary table tbody tr td.summary_text {
    white-space: pre;
}

.tabPages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin-top: 3em;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tabPages .tabPages_page {
    padding-inline: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
    border-top: 2px solid darkgray;
    border-left: 1px solid darkgray;
    margin-bottom: -5px;
    line-height: 24px;
    font-size: smaller;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.5em;
    color: #333;
}

.tabPages .tabPages_page img {
    display: none;
}

.tabPages .tabPages_page:first-of-type {
    border-top-left-radius: 7px;
}

.tabPages .tabPages_page:last-of-type {
    border-right: 1px solid darkgray;
    border-top-right-radius: 7px;
}

.tabPages .tabPages_page:hover {
    background-color: var(--secondary-color);
}

.tabPages:not(.disabled) .tabPages_page.selected {
    background-color: #f0f0f0;
    font-weight: bold;
    color: black;
    border-top-color: var(--primary-color);
}

.tabPages .tabPages_page.selected img {
    display: block;
    margin-top: -2px;
}

.tabPages.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

.editor_tabpages {
    width: 100%;
    flex: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.editor_tabpages input[type="checkbox"] {
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.editor_tabpages input[type="checkbox"] + label {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;
    padding-block: 0.25em;
    font-size: 90%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-bottom: 2px solid #ccc;
    column-gap: 0.5em;
    height: 28px;
}

.editor_tabpages input[type="checkbox"] + label > img {
    display: none;
}

.editor_tabpages input[type="checkbox"]:checked + label {
    font-weight: bolder;
    border-bottom-color: var(--primary-color);
}

.editor_tabpages input[type="checkbox"]:checked + label > img {
    display: block;
}

.tabPageBand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 1em;
    row-gap: 1em;

    padding-inline: 1.25em;
    padding-block: 1em;
    min-height: calc(60px - 2em);

    font-size: 80%;
    background: linear-gradient(to bottom, #fff, var(--secondary-color-light));

    border-bottom: 1px solid darkgray;
}

.tabPageBand.errors {
    background: initial;
    background-color: #ffe9dd99;
    padding: 1.5em;
}

.tabPageBand.errors ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.tabPageBand.errors ul {
    gap: 1.5em;
}

.tabPageBand.errors ul ul {
    gap: 0.5em;
    margin-left: 0.5em;
}

.tabPageBand.errors .tabPageErrors div {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: darkgoldenrod;
}

.tabPageBand.errors .tabPageErrors .tabPageError {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    line-height: 16px;
}

.tabPageBand.errors .tabPageErrors .tabPageError svg {
    width: 20px;
    height: 16px;
}

.tabPageBandCol {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.25em;
    min-height: 34px;
}

.tabPageBandSeparator {
    width: 1px;
    min-height: 100%;
    margin-inline: 0.5em;

    background-color: darkgray;
}

.tabPageBandCol > input[type="checkbox"] {
    display: none;
}

.tabPageBandCol > label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

    height: calc(100% - 2px);
    margin-block: 2px;

    padding-inline: 1em;

    background-color: #f5f5f5;
    border: 1px solid darkgray;
    border-radius: 5px;

    transition: all 200ms ease-out;
}

.tabPageBandCol > label:hover {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
}

.tabPageBandCol > input[type="checkbox"] + label > img  {
    width: 18px;
    height: 18px;
}

.tabPageBandCol > input[type="checkbox"]:checked + label  {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.tabPageBandCol > input[type="checkbox"]:checked + label.error  {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
    color: #fff;
    /*animation: blinker 1s linear infinite;*/
}

.tabPageBandCol > input[type="checkbox"]:checked + label > img  {
    filter: invert(94%) sepia(100%) saturate(22%) hue-rotate(48deg) brightness(107%) contrast(106%);
}

@media screen and (max-width: 640px) {
    .button_group > *:not(.button_group-separator) {
        align-items: center;
    }

    .button_group span {
        line-height: 18px;
        margin-top: 2px;
    }

    .button_group > *:not(.button_group-separator):not(.button_group-new_project) span {
        display: none;
    }
}

@media print {
    h4, .toolbar, .project {
        display: none;
    }

    h3 {
        margin-top: -2mm;
        margin-bottom: 5mm;
    }

    .tabPages {
        display: none;
    }

    .switchboard, .summary, .schema,
    .switchboard.selected, .summary.selected, .schema.selected {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
        margin-block: 0;
        overflow-x: initial;
        border: 0;
        border-radius: initial;
        padding: 0;
        height: max-content;
        opacity: 1;
    }

    .switchboard_row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2mm;
        width: 100%;
        break-inside: avoid;
        page-break-inside: avoid;
        margin-bottom: 0;
        padding-bottom: 0;
        overflow: hidden;
        margin-inline: 0;
        margin-top: 0;
    }

    .summary, .summary.selected,
    .schema, .schema.selected {
        break-inside: avoid;
        page-break-inside: avoid;
        page-break-before: always;
        break-before: page;
        padding-block: 2em;
        overflow: hidden;
    }

    .summary table {
        margin: 0;
    }

    .summary {
        padding-top: 0;
        margin-top: 0;
    }

    .switchboard_row:not(:first-of-type) {
        padding-top: 7mm;
    }

    .projectbox, .button_group {
        display: none;
    }

    .notprintable {
        display: none !important;
    }
}

.icon_selector_box:focus-within, .icon_selector_box.focused {
    border-color: var(--primary-color) !important;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}