.icon_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1.1em;
    margin-block: 1em;
}

.icon_group .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.1em;
}

.icon_group .icon,
.icon_group .icon input,
.icon_group .icon label {
    cursor: pointer;
}

button, select {
    padding-block: 0.4em;
    padding-inline: 0.8em;
    min-width: 28px;
    min-height: 28px;
}

input[type="file"] {
    min-height: 28px;
}

input[type="file"]::-webkit-file-upload-button {
    min-height: 28px;
}

@media print {
    .footer {
        padding-top: 10mm;
    }
}