:focus {
    outline: 0 !important;
}

body {
    font-family: sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

#content {
    margin-inline: auto;
    padding-inline: 1em;
    width: 1152px;
    max-width: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2em;
    justify-content: start;
    align-items: start;
    margin-bottom: 2em;
}

#root {
    width: 100%;
    margin-bottom: 1em;
}

main {
    width: 100%;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.25em;
    margin-bottom: 0;
    padding: 0;
}

h1 .version {
    font-size: small;
}

h1 sup {
    margin-top: -10px;
}

h6 {
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 48px;
    color: darkcyan;
}

.description {
    margin-block-start: 0;
    margin-block-end: 3em;
    font-size: 1.1em;
    color: darkgray;
}

.icon_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1.1em;
    margin-block: 1em;
}

.icon_group .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.1em;
}

.icon_group .icon,
.icon_group .icon input,
.icon_group .icon label {
    cursor: pointer;
}

button, select {
    padding-block: 0.4em;
    padding-inline: 0.8em;
    min-width: 28px;
    min-height: 28px;
}

input[type="file"] {
    min-height: 28px;
}

input[type="file"]::-webkit-file-upload-button {
    min-height: 28px;
}

.box {
    width: calc(100% - 2em);
    padding: 1em;
    border: 1px solid darkgray;
    border-radius: 7px;
}

.box h4 {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
    padding: 0;
}

.box .box_list {
    list-style: none;
    margin: 0;
    padding: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: 2em;
}

.box .box_list li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 0.5em;
    padding: 1em;
    width: calc(350px - 2em);
    max-width: calc(100% - 2em);
}

.box .box_list li:hover {
    background-color: #f0f0f0;
}

.box .box_list .box_list_title {
    font-size: normal;
    font-weight: bold;
}

.box .box_list .box_list_description {
    font-size: small;
    line-height: 1.3;
}

.box .box_list .box_list_link,
.box .box_list .box_list_link:visited {
    color: darkcyan;
    font-size: smaller;
    font-weight: bold;
}

@media print {
    #content, #root, main {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: initial;
    }

    main {
        width: calc(100% - 10mm);
        padding: 10mm;
    }

    .box {
        display: none;
    }

    h1, h6 {
        display: none;
    }

    .footer {
        padding-top: 10mm;
    }
}