.module {
    width: var(--sw);
    min-width: var(--sw);
    max-width: var(--sw);
    height: var(--h);
    min-height: var(--h);
    max-height: var(--h);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.module:not(:last-of-type) {
    border-right: 1px solid darkgray;
}

.module:hover {
    background-color: #f5f5f5;
}

.module .tool {
    padding: 2px;
    cursor: pointer;
    height: 20px;
    font-size: small;
    /*z-index: 1000;*/
    color: black;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 70%;
}

.module .tool.size {
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 60%;
}

.module .tool[data-disabled="true"] {
    pointer-events: none;
    cursor: default;
    filter: grayscale(1) opacity(0.2);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module .module_title {
    text-align: center;
    font-size: 3mm;
    font-weight: bold;
    line-height: 5mm;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-inline: 1mm;
    width: calc(100% - 2mm);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module .module_text {
    text-align: center;
    font-size: 2.8mm;
    font-weight: bold;
    inline-size: 150px;
    overflow-wrap: break-word;
    overflow-y: hidden;
    padding-inline: 1mm;
    padding-block: 1.1mm;
    width: calc(100% - 2mm);
    height: 39px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module:has(.module_iconfree) {
    justify-content: center;
}

.module .module_iconfree {
    filter: grayscale(1) opacity(0.15);
    width: 13mm;
    height: 13mm;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module:hover .module_iconfree {
    filter: initial;
}

.module .module_top {
    position: absolute;
    top: -62px;
    left: -1px;
    width: calc(100% - 1em);
    height: 60px;
    background-color: var(--secondary-color-light);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.7em;
    padding-inline: 0.50em;
    border: 1px solid darkgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module .module_top .top_row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
    padding-top: 0.2em;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module .module_bottom {
    position: absolute;
    bottom: -36px;
    left: -1px;
    width: calc(100% - 1em);
    height: 34px;
    background-color: var(--secondary-color-light);
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.5em;
    padding-inline: 0.5em;
    align-items: center;
    border: 1px solid darkgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.module:hover .module_bottom,
.module:hover .module_top {
    background-color: #f5f5f5;
}

.module:focus .module_top,
.module:focus .module_bottom {
    background-color: #FFFBF0;
}

.module_top.button {
    justify-content: center;
}

.module_top.button .tool {
    height: initial;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.25em;
    font-weight: 500;
}

.module.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

@media print {
    .module:not(:last-of-type) {
        border-right: 1px solid lightgray;
    }

    .module:last-of-type {
        border-right: 1px solid lightgray;
    }

    .module {
        border: 0;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .module .module_top,
    .module .module_bottom,
    .module .module_iconfree {
        display: none;
    }

    .module.noprint {
        display: none;
    }
}