@import url('./vars.css');

.popup-overflow {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 8000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 440px;
    max-width: 85%;
    max-height: 93%;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 9000;
    padding: 1em;
}

.popup_title {
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 3em;
}

.popup_cancel {
    font-size: smaller;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 1em;
    cursor: pointer;
}

.popup_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-inline: 1.1em;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

.popup_buttons_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    gap: 1em;
}

.popup_buttons button {
    padding-block: 0.25em;
    padding-inline: 0.75em;
}

.popup_buttons button.ok {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 600;
    padding-inline: 1.5em;
}

.popup_buttons button.cancel {
    color: #333;
}

.popup_buttons button:disabled {
    pointer-events: none;
    border-color: lightgray !important;
    color: lightgray !important;
    background-color: #f9f9f9 !important;
}

.popup_row {
    display: grid;
    grid-template-columns: var(--left_column_size) 1fr;
    margin-block: 1em;
    margin-inline: 1.1em;
    align-items: baseline;
    font-size: smaller;
    justify-content: start;
    text-align: left;
    column-gap: 0.25em;
}

.popup_row input, .popup_row textarea {
    padding: 0.5em;
    font: inherit;
    resize: vertical;
}

.popup_row input[name="editor_id"] {
    text-transform: uppercase;
}

.popup_row input[type="checkbox"] {
    padding: 0;
    margin: 0;
    margin-right: auto;
}

.popup_row input[type="color"] {
    padding: 0;
    margin: 0;
    width: 48px;
    height: 24px;
}

.popup_row input[type="text"] {
    width: calc(100% - 1.3em);
}

.popup_error {
    font-size: small;
    color: red;
}

.popup_row>label {
    margin-right: 1em;
}

.popup_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1.5em;
    justify-content: center;
    align-items: start;
}